@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.section {
  padding-top: 3rem;
}

body {
  background-color: red;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
