@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.section {
  padding: 3rem;
}

.contact {
  padding: 3rem;
  text-align: justify;
  display: flex;
  gap: 3rem;
}
.contact-text {
  text-align: justify;
  width: 70%;
  font-weight: 600;
  font-size: 0.9rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-info a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: smaller;
}
.contact-info a .icon {
  width: 1.2rem;
}
@media screen and (max-width: 750px) {
  .contact {
    padding: 3rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .contact-text {
    text-align: justify;
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
